.offcanvas-end {
    max-width: 50%;
}

.css-logo-negative-space {
    width: 11rem;
}

.css-navbar-logo {
    height: 2.5rem;
}

.css-toggle-focus {
    box-shadow: 0 0 0 0.25rem black;
}

.css-card-image {
    object-fit: cover;
    object-position: top;
    height: 14rem;
}

.css-card-image-details {
    object-fit: cover;
    width: 100%;
}

.css-z-index-2000 {
    z-index: 2000;
}

.css-opacity {
    opacity: 0.6;
    z-index: 1250;
}